@import '@material/tab-bar/mdc-tab-bar.scss';
@import '@material/tab-scroller/mdc-tab-scroller.scss';
@import '@material/tab-indicator/mdc-tab-indicator.scss';
@import '@material/tab/mdc-tab.scss';
@import '@material/typography/mdc-typography';
@import '@material/data-table/mdc-data-table';
@import '@material/top-app-bar/mdc-top-app-bar';
@import '@material/icon-button/mdc-icon-button';

body {
  display: flex;
  flex-direction: column;
  font-family: 'Noto Sans', Sans-Serif;
  margin: 0 0 0 0;
  flex-grow: 1;
  h2,
  h3 {
    text-align: center;
  }
}

.header-mixin {
  @include mdc-top-app-bar-fill-color(#116b9e);
}

// header {
//   display: flex;
//   background-color: hsl(100, 100%, 70%);
//   flex-direction: row;
//   justify-content: flex-start;
//   flex-basis: 10vh;

//   #page-title {
//     flex-basis: 300px;
//     background-color: hsl(240, 100%, 80%);
//     padding-left: 3rem;
//     flex-shrink: 0;
//   }

//   nav {
//     background-color: hsl(60, 100%, 70%);
//   }
// }

main {
  display: flex;
  flex-flow: row;
  align-items: stretch;
  flex-grow: 15;
  flex-wrap: wrap;

  #players {
    background-color: hsl(0, 0%, 85%);
    flex-basis: 200px;
    flex-shrink: 0;
    flex-grow: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    h2 {
      align-self: center;
      flex-basis: 100%;
    }
  }

  .icon {
    font-size: 1rem;
  }
  .captain {
    color: green;
  }
  .ringer {
    color: blue;
  }

  #schedule {
    display: flex;
    background-color: hsl(180, 100%, 70%);
    flex-basis: 80%;
    flex-grow: 1;
    flex-direction: column;
    .mdc-data-table {
      // flex-grow: 1;
      flex-basis: 100%;
    }
  }
}

footer {
  background-color: hsl(300, 100%, 80%);
  flex-grow: 1;
  text-align: center;
  font-size: 0.8rem;
}
